Libraries

In [1]:
import os
import warnings
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
warnings.filterwarnings('ignore')

Les données

In [2]:
path = os.getcwd()
chemin_repertoire = os.path.join(path, '../Data')

# chemin fichier
chemin_data = os.path.join(chemin_repertoire, 'dataset.csv')

In [3]:
data = pd.read_csv(chemin_data)
data.head()

,id,Duration in months,Credit history,Purpose of the credit,Credit amount,Status of savings account/bonds,Present employment(years),Installment rate in percentage of disposable income,personal_status,Other debtors / guarantors,...,Property,Age in years,Other installment plans (banks/stores),Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,Foreign worker,Status of existing checking account
0,1,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,2,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,3,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,4,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,5,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

I- NETTOYAGE et TRAITEMENT DES DONNEES

In [4]:
data.columns

Index(['id', 'Duration in months', 'Credit history', 'Purpose of the credit',
       'Credit amount', 'Status of savings account/bonds',
       'Present employment(years)',
       'Installment rate in percentage of disposable income',
       'personal_status', 'Other debtors / guarantors',
       'Present residence since X years', 'Property', 'Age in years',
       'Other installment plans (banks/stores)', 'Housing',
       'Number of existing credits at this bank', 'Job',
       'Number of people being liable to provide maintenance for', 'Telephone',
       'Foreign worker', 'Status of existing checking account'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   id                                                        1000 non-null   int64
 1   Duration in months                                        1000 non-null   int64
 2   Credit history                                            1000 non-null   object
 3   Purpose of the credit                                     1000 non-null   object
 4   Credit amount                                             1000 non-null   int64
 5   Status of savings account/bonds                           1000 non-null   object
 6   Present employment(years)                                 1000 non-null   object
 7   Installment rate in percentage of disposable income       1000 non-null   int64
 8   personal_status                                           1000 non-null   object
 9   Other debtors / guarantors                                1000 non-null   object
 10  Present residence since X years                           1000 non-null   int64
 11  Property                                                  1000 non-null   object
 12  Age in years                                              1000 non-null   int64
 13  Other installment plans (banks/stores)                    1000 non-null   object
 14  Housing                                                   1000 non-null   object
 15  Number of existing credits at this bank                   1000 non-null   int64
 16  Job                                                       1000 non-null   object
 17  Number of people being liable to provide maintenance for  1000 non-null   int64
 18  Telephone                                                 1000 non-null   object
 19  Foreign worker                                            1000 non-null   object
 20  Status of existing checking account                       1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [8]:
data['Credit history'].value_counts()

Credit history
existing paid                     530
critical/other existing credit    293
delayed previously                 88
all paid                           49
no credits/all paid                40
Name: count, dtype: int64

In [9]:
data['personal_status'].value_counts()

personal_status
male single           548
female div/dep/mar    310
male mar/wid           92
male div/sep           50
Name: count, dtype: int64

Decomposition de la colonne 'personal_status' et deux colonnes 'Gender' et 'Status' = situation matrimoniale

In [10]:
data[['Gender', 'Status']] = data['personal_status'].str.split(n=1, expand=True)
print(data[['Gender', 'Status']])

     Gender       Status
0      male       single
1    female  div/dep/mar
2      male       single
3      male       single
4      male       single
..      ...          ...
995  female  div/dep/mar
996    male      div/sep
997    male       single
998    male       single
999    male       single

[1000 rows x 2 columns]

In [12]:
data['Status'].value_counts()

Status
single         548
div/dep/mar    310
mar/wid         92
div/sep         50
Name: count, dtype: int64

In [13]:
data['Purpose of the credit'].value_counts()

Purpose of the credit
radio/tv               280
new car                234
furniture/equipment    181
used car               103
business                97
education               50
repairs                 22
domestic appliance      12
other                   12
retraining               9
Name: count, dtype: int64

In [14]:
data['Present employment(years)'].value_counts()

Present employment(years)
1<=X<4        339
>=7           253
4<=X<7        174
<1            172
unemployed     62
Name: count, dtype: int64

In [15]:
employment_mapping = {
    '1<=X<4': '1-3 years',
    '>=7': '7 or more years',
    '4<=X<7': '4-6 years',
    '<1': 'less than 1 year',
    'unemployed': 'unemployed'
}

data["Years_Employments"] = data["Present employment(years)"].map(employment_mapping)

In [17]:
#data['Years_Employments'].value_counts()

In [22]:
data['Status of savings account/bonds'].value_counts()

Status of savings account/bonds
<100                603
no known savings    183
100<=X<500          103
500<=X<1000          63
>=1000               48
Name: count, dtype: int64

In [23]:
Saving_Status = {
    '<100' : 'less than 100',
    'no known savings' : 'no savings',
    '100<=X<500' : '100-500',
    '500<=X<1000' : '500-1000',
    '>=1000' : 'more than 1000'
}

data["Saving_Status"] = data["Status of savings account/bonds"].map(Saving_Status)

In [ ]:
#data['Saving_Status'].value_counts()

Saving_Status
less than 100     603
no savings        183
100-500           103
500-1000           63
more than 1000     48
Name: count, dtype: int64

In [25]:
data['Other debtors / guarantors'].value_counts()

Other debtors / guarantors
none            907
guarantor        52
co applicant     41
Name: count, dtype: int64

In [26]:
data[['Present residence since X years', 'Property', 'Age in years',
       'Other installment plans (banks/stores)', 'Housing',
       'Number of existing credits at this bank', 'Job',
       'Number of people being liable to provide maintenance for', 'Telephone',
       'Foreign worker', 'Status of existing checking account']].sample(10)

,Present residence since X years,Property,Age in years,Other installment plans (banks/stores),Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,Foreign worker,Status of existing checking account
601,1,life insurance,30,none,own,1,skilled,1,none,yes,bad
573,4,life insurance,22,none,own,1,unskilled resident,1,none,yes,good
849,4,real estate,57,stores,own,1,unskilled resident,1,none,yes,bad
188,1,life insurance,20,none,own,1,skilled,1,none,yes,bad
820,2,real estate,27,none,own,2,skilled,1,yes,yes,good
483,2,life insurance,30,none,own,2,skilled,1,none,yes,good
619,2,real estate,49,none,own,1,unskilled resident,1,none,yes,good
869,4,life insurance,24,none,rent,1,skilled,1,none,yes,good
800,4,no known property,54,none,for free,2,skilled,2,none,yes,good
802,4,life insurance,24,none,own,2,skilled,1,none,yes,good

In [27]:
data['Housing'].value_counts()

Housing
own         713
rent        179
for free    108
Name: count, dtype: int64

In [28]:
data['Job'].value_counts()

Job
skilled                      630
unskilled resident           200
high qualif/self emp/mgmt    148
unemp/unskilled non res       22
Name: count, dtype: int64

In [29]:
data['Job'] = data['Job'].str.lower()
data['Job'] = data['Job'].str.replace(' ', '_').str.replace('/', '_')
data['Job'] = data['Job'].str.replace('[^a-z0-9_]', '', regex=True)

In [30]:
data['Job'].value_counts()

Job
skilled                      630
unskilled_resident           200
high_qualif_self_emp_mgmt    148
unemp_unskilled_non_res       22
Name: count, dtype: int64

In [ ]:
#data.head(5)

In [31]:
data.drop(columns=['id','Status of savings account/bonds','Present employment(years)','personal_status'],inplace = True)

In [32]:
data.head(5)

,Duration in months,Credit history,Purpose of the credit,Credit amount,Installment rate in percentage of disposable income,Other debtors / guarantors,Present residence since X years,Property,Age in years,Other installment plans (banks/stores),...,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,Foreign worker,Status of existing checking account,Gender,Status,Years_Employments,Saving_Status
0,6,critical/other existing credit,radio/tv,1169,4,none,4,real estate,67,none,...,2,skilled,1,yes,yes,good,male,single,7 or more years,no savings
1,48,existing paid,radio/tv,5951,2,none,2,real estate,22,none,...,1,skilled,1,none,yes,bad,female,div/dep/mar,1-3 years,less than 100
2,12,critical/other existing credit,education,2096,2,none,3,real estate,49,none,...,1,unskilled_resident,2,none,yes,good,male,single,4-6 years,less than 100
3,42,existing paid,furniture/equipment,7882,2,guarantor,4,life insurance,45,none,...,1,skilled,2,none,yes,good,male,single,4-6 years,less than 100
4,24,delayed previously,new car,4870,3,none,4,no known property,53,none,...,2,skilled,2,none,yes,bad,male,single,1-3 years,less than 100

 **Renomme les colonnes**

In [33]:
data = data.rename(columns = {"Number of existing credits at this bank":"Num_Existing_Credits",
                                 "Installment rate in percentage of disposable income":"Installment_Rate_Percent",
                                 "Other installment plans (banks/stores)":"Other_Inst_Plans",
                                 "Present residence since X years":"Residence_Years",
                                 "Number of people being liable to provide maintenance for":"Liable_People",
                                 "Duration in months":"Durations",
                                 "Purpose of the credit":"Credit_Purpose",
                                 "Status of existing checking account":"Checking_Account_Status"})

*Sauvegarde des dataframes propre*

In [ ]:
#data.to_csv('/content/drive/MyDrive/Colab Notebooks/Data/Credit_cleaned.csv', index=False)

In [ ]:
#data.to_json('/content/drive/MyDrive/Colab Notebooks/Data/Credit_cleaned.json', orient='records', lines=True)

VISUALISATION

In [ ]:

#Credit_cleaned = pd.read_json('/content/drive/MyDrive/Colab Notebooks/Data/Credit_cleaned.json', lines=True)
#Credit_cleaned

In [ ]:
# Regrouper par 'Status' et compter les occurrences, puis trier en ordre décroissant
status_counts = data['Status'].value_counts(ascending=True)
status_counts

Status
div/sep         50
mar/wid         92
div/dep/mar    310
single         548
Name: count, dtype: int64